/////////////////// General

$content_padding_top: 0px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.5px;

$container-width-xxl: 1400px;
$container-width-xl: 1140px;
$container-width-lg: 960px;
$container-width-md: 720px;
$container-width-sm: 540px;
$container-width-xs: 100%;


body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

.nav-links .secondary{
  margin-right: 0px !important;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

@mixin responsive {
  @include media-breakpoint-down(sm) {
    width: $container-width-xs;
  }
  @include media-breakpoint-up(sm) {
    width: $container-width-sm;
  }
  @include media-breakpoint-up(md) {
    width: $container-width-md;
  }
  @include media-breakpoint-up(lg) {
    width: $container-width-lg;
  }

  @include media-breakpoint-up(xl) {
    width: $container-width-xl;
  }
  @media(min-width:1440px) {
    width: $container-width-xxl;
  }

}




#content.content-wrapper {
  padding-top: $content-padding-top;
  padding-bottom: $content-padding-bottom;



  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header

header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
  }
  
  * {
    color: #fff !important;
 }

 .main-header{
  @include responsive;

 }

 .mobile-menu *{
  color: $primary !important;
}

 .sign-in-btn, .register-btn {
   background: transparent !important;
   color: #fff !important;
   border: none !important;

 }

  box-shadow: none;
  background: linear-gradient(165deg, $primary, #232569);
  color: #fff;

}


.main-header {
  @include media-breakpoint-up(md) {
    width: $container-width-md;
    margin: 0 auto;
    z-index: 200; // necessary to keep the header on top of other elements
  }
  //background-color: #4c61bf;// TODO recommandé par clem
  box-shadow: none;
  color: #fff;

}

#footer-openedx {
  @include media-breakpoint-up(md) {
    width: 800px;
    margin: 0 auto;
    z-index: 200; // necessary to keep the header on top of other elements
  }
  //background-color: #4c61bf;// TODO recommandé par clem
  box-shadow: none;
}


.header-logo a {
  @include media-breakpoint-down(md){
    margin-left: 50% !important;

  }

  margin-left: 0px !important;

}




header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;

  @include media-breakpoint-down(lg){
    right: 60px;
  }

  @include media-breakpoint-down(xl){
    right: 60px;
  }

  @media screen and (min-width:1680px){
    right: 200px;
  }

  *{
  color: $primary !important;
}
}


/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;

  .my-courses{
    padding: 10px;
  }
}



////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;
  
  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

section .course-profile{
  padding-top: 50px !important;

}




.learn-more,
.register {
  color: $primary;
  background: var(--primary-light) !important;
  border-radius: 0 !important;
  box-shadow: 0 !important;
  border: 0;
}

.course-info {
  .container {
    padding-bottom: 0;
    margin: 30px !important;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {

    span.register {
      background-color: $primary !important;
      color: #fff !important;
      padding: 10px 0;
      margin: 0px;
    }
  }
}

.register {
  background: $primary !important;
}

/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

.courses-container #discovery-form{
  padding-top: 24px;

}

.courses-listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;

  .courses-listing-item{
    width: calc(100%/3 - 20px);
    margin: 10px;

    .cover-image img{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}



/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
  
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}



/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;
  background-color: #333;
  
  .wrapper-logo {
      display: none;
  }
  .copyright {
      display: none;
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx a {
      float: right;
      padding-top: 30px;
  }
}

#footer-openedx {
  @include responsive;

}


.hero-main-banner {
  margin-top: 66px;
  height: 520px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-text {
  z-index: 2;
  position: relative;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.hero-text strong {
  font-size: 3rem;
}

.hero-main-banner img {
  position: absolute !important;
  z-index: 1;
  width: 100vw !important;
  object-fit: cover !important;
  height: 100% !important;
}
